In [131]:
import pandas as pd
import numpy as np
from numpy import random 
from pandas import Series,DataFrame,read_html

In [7]:
'''CSV operations'''
dframe=pd.read_csv('TB_burden_countries.csv')
#dframe.head(5)

In [11]:
#using read table
dataframe2=pd.read_table('TB_burden_countries.csv',sep=',')
# dataframe2.head(3)

In [13]:
#importing partial rows
dataframe3=pd.read_csv('TB_burden_countries.csv',nrows=4)

In [17]:
#dump values to csv
# dataframe2.to_csv('outputCSV',sep=',')

In [21]:
#select specific columns
# dframe.to_csv('dataoutput.csv',columns=[0])

In [7]:
'''Html operations'''
#read html data
url='https://countrycode.org/'
dflist=pd.io.html.read_html(url)
dataframe4=dflist[0]
dataframe4.columns.values

array(['COUNTRY', 'COUNTRY CODE', 'ISO CODES', 'POPULATION', 'AREA KM2',
       'GDP $USD'], dtype=object)

In [18]:
'''Merging dataframes'''
#column merging

df1=DataFrame({'Taxi':["maramoja",'utu','bolt','uber','taxify'],'Revenue':[5,7,15,30,2]})
df2=DataFrame({'Taxi':["maramoja",'utu','utu','uber'],'Revenue':[4,6,7,1]})

In [19]:
df3=pd.merge(df1,df2, on='Taxi')

In [22]:
df4=pd.merge(df1,df2, on='Taxi',how='left')

In [24]:
df5=pd.merge(df1,df2, on='Taxi',how='outer')

In [4]:
df6=DataFrame({'Taxi':["maramoja",'uber','utu','utu','uber','maramoja','utu'],'Revenue':[5,7,15,30,2,8,9]})
df7=DataFrame({'Taxi':["maramoja",'uber','utu','utu','uber'],'Revenue':[5,7,15,30,2]})

In [5]:
merging=pd.merge(df6,df7,on='Taxi')

In [10]:
#MERGING USING MULTIPLE REFRENCES
df8=DataFrame({'Taxi':["maramoja",'utu','utu'],'Revenue':['THREE','FOUR','FIVE'],"profit":[5,9,6]})
df9=DataFrame({'Taxi':["maramoja",'maramoja','utu','utu'],'Revenue':['one','two','three','one'],'profit':[5,7,8,9]})

In [13]:
multiple_merge=pd.merge(df8,df9,on=['Taxi','Revenue'], how='outer',suffixes=('_first','_second'))

In [5]:
'''Merging with Indexes'''
df_merged_indexes=DataFrame({'refrence':['o','u','l','o','u'],
                            'data':range(5)})
df_merged_indexes2=DataFrame({'profit':[10,20]},index=['o','u'])
merging_indexes=pd.merge(df_merged_indexes,df_merged_indexes2,left_on='refrence',right_index=True)

In [12]:
df_merged_indexes3=DataFrame({'ref1':['A','A','O','O','A'],
                            'ref2':[5,10,15,20,25],
                             'ref3':[0,1,2,3,4]})
df_merged_indexes4=DataFrame(np.arange(10).reshape(5,2),index=[['A','A','O','O','O'],[20,10,10,10,20]],columns=['col1','col2'])
merged_indexes=pd.merge(df_merged_indexes3,df_merged_indexes4,left_on=['ref1','ref2'],right_index=True)

In [17]:
'''Join Function in pandas???'''

'Join Function in pandas'

In [26]:
'''Concatenation_pandas,numpy'''

b1=np.arange(25).reshape(5,5)
a1=randn.randn(25).reshape(5,5)
ab1=np.concatenate([a1,b1],axis=0)

In [31]:
#series
s1=Series([100,200,300],index=['A','B','C'])
s2=Series([499,599],index=['D','E'])
s3=pd.concat([s1,s2])#along the rows
s3=pd.concat([s1,s2],axis=1,sort=False)# along the columns

In [38]:
#concatenating dataframes
df_concat=DataFrame(randn.randn(4,3),columns=["A","B","C"])
df_concat2=DataFrame(randn.randn(3,3),columns=["B","D","A"])
df_concat_row=pd.concat([df_concat,df_concat2],sort=False,ignore_index=True)#row concatenation
df_concat_columns=pd.concat([df_concat,df_concat2],axis=1,sort=False)

In [47]:
'''Combine function in pandas'''

#using combine with series
s4=Series([6,np.nan,7,np.nan],index=['A','B','C','D'])
s5=Series(np.arange(3),dtype=np.float64,index=s1.index)
s6=s4.combine_first(s5)

In [51]:
#using combine with dataframes
df_5n=DataFrame({'col1':[5,np.nan,15],
                'col2':[20,25,np.nan],
                'col3':[np.nan,np.nan,35]})
df_10n=DataFrame({'col1':[0,10,20],
                'col2':[10,20,30]})
df_5_10n=df_5n.combine_first(df_10n)

In [58]:
'''reshaping dataset'''
df_reshape=DataFrame(np.arange(8).reshape(2,4),index=pd.Index(['Uber','Bolt'],name='Taxi_cabs'),columns=pd.Index(['c1','c2','c3','c4'],name='attributes'))
stack_df_reshape=df_reshape.stack()
unstack_df_reshape=df_reshape.unstack()

In [62]:
 #unstack df along columns/rows to reshape the matrix
unstack_df_reshape_row=stack_df_reshape.unstack('Taxi_cabs')
unstack_df_reshape_col=stack_df_reshape.unstack('attributes')

In [65]:
#reshaping series'
s_reshape1=Series([5,10,25],index=['A','B','C'])
s_reshape2=Series([15,20,25],index=['B','C','D'])
s_concat=pd.concat([s_reshape1,s_reshape2],keys=['K1','K2'])
df_s_reshape=s_concat.unstack()

In [77]:
'''Pivot Tables from Pandas DataFrames'''
url='https://en.wikipedia.org/wiki/Pivot_table'
df_list_pivot=pd.io.html.read_html(url)
df_pivot=df_list_pivot[0]

new_header=df_pivot.iloc[0]#grab the first row for the header
df_pivot=df_pivot[0:]#take data less the header row
# df_pivot.columns=new_header#first the header row as the df header

df_pivot_table=df_pivot.pivot('Date of sale','Sales person','Total price')

In [87]:
'''Duplicates in pandas dataframe'''
df_pd=DataFrame({ 'col1':['uber','uber','uber','uber','bolt'],
                 'col2':[5,4,3,3,5]})
# df_pd.drop_duplicates(['col1'],keep='last')#based on column values

In [93]:
'''Mapping in a dataframe'''
# df_map=DataFrame({'countries':[["Afghanistan"],['Albania'],['Algeria']],
#                   'code':[['83'],['235'],['213']]})
# gdp_map=DataFrame({["Afghanistan"]:['28'],['Albania']:['52.8'],['Algeria']:['215']})
# df_map=df_map['countries'].map(gdp_map)
# df_map

'Mapping in a dataframe'

In [100]:
'''Replace values in series'''
s_replace=Series([10,20,50,40,50,10,20,40])
# s_replace.replace([10,20,50],[100,200,500])#multiple replaces
# s_replace.replace({10:1000,20:np.nan,40:4000})

0    1000.0
1       NaN
2      50.0
3    4000.0
4      50.0
5    1000.0
6       NaN
7    4000.0
dtype: float64

In [116]:
'''renaming indexes'''
#renaming indexes using map()
df_rename=DataFrame(np.arange(25).reshape(5,5),index=['uber','bolt','utu','maramoja','taxify'],columns=['REVENUE','lOSS','QUALITY','GROWTH','AGE'])
df_rename_index=df_rename.index.map(str.upper)

In [117]:
#renaming index using .rename()
df_rename_renamed=df_rename.rename(index=str.title,columns=str.lower)

In [118]:
#renaming using dictionary
df_rename_dict=df_rename.rename(index={'uber':'A1 Taxi'},columns={"REVENUE":'REV'})

In [121]:
#saving the renamed df
df_rename.rename(index={'uber':'A1 Taxi'},columns={"REVENUE":'REV'},inplace=True)

In [127]:
'''Binning Values-grouping continous values into smaller numbers-eg arrange age into smaller intervals 20-24'''
prime_number=[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
number_bins=[0,10,20,30,40,50]
category=pd.cut(prime_number,number_bins)
# category.categories

#using values.counts
counted=pd.value_counts(category)

#specific bin numbers
category2=pd.cut(prime_number,3,precision=1)
# category2

In [141]:
'''Observation and basic analysis'''
df_ob=DataFrame(np.random.randn(1000,5))

# #basic observation
# df_ob.tail()#last 5rows
# df_ob.head()#first 5rows
# df_ob.describe()#mean,std,max,count
# df_ob=df_ob[(np.abs(df_ob)>3)]=np.sign(df_ob)*5
# df_ob.describe()