In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [63]:
dataset=pd.read_csv('Data.csv')
# dataset

In [36]:
x=dataset.iloc[:,:-1].values #getting rid of the last column
y=dataset.iloc[:,3].values
dataset.describe()

             Age        Salary
count   9.000000      9.000000
mean   37.987654  66012.345679
std     7.844052  12746.513012
min    26.000000  48000.000000
25%    34.000000  55000.000000
50%    38.000000  65111.111110
75%    42.000000  75000.000000
max    51.000000  85000.000000

In [67]:
# '''Working with missing data'''
# imputer=SimpleImputer(missing_values=np.nan,strategy='mean')

In [66]:
# imputer=imputer.fit(x[:,1:3])
# x[:,1:3]=imputer.transform(x[:,1:3])

In [65]:
#'''categorical encoding -from letters to numbers'''

# ct=ColumnTransformer(transformers=[('one_hot_encoder',OneHotEncoder(categories='auto'),[0])],remainder='passthrough')
# x=np.array(ct.fit_transform(x),dtype=np.float)
# '''encoding depedent variables'''
# le=LabelEncoder()
# y=le.fit_transform(y)

In [61]:
'''splitting data into train and test set'''
X_train, X_test, Y_train, Y_test =train_test_split(x,y,test_size=0.20,random_state=0)
#X_train
# X_test
# Y_test
# Y_train

In [64]:
#'''Feature scaling '''
# sc_X=StandardScaler()
# K_train=sc_X.fit_transform(X_train)
# X_test=sc_X.transform(X_test)

In [68]:
iris_dataset=pd.read_csv('iris.csv')
iris_dataset

NameError: name 'pd_read_csv' is not defined